@keyframes slideIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.wrapper {
    background: white;
    border-radius: 10px;
    border: 1px solid #ddd;
    height: 500px;
    width: 300px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr auto;
    animation: slideIn 0.3s ease-in-out;
}

.header {
    position: relative;
    background: linear-gradient(90deg, rgba(35, 27, 164, 1) 0%, rgba(82, 108, 214, 1) 100%);
    padding: 30px 10px;
    color: white;

    &__close {
        position: absolute;
        right: 10px;
        top: 10px;
        color: white;
        cursor: pointer;
    }
}

.messages {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    overflow-y: scroll;
}
