@keyframes slideIn {
    from {
        transform: translateY(5px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    max-width: 100%;
    animation: slideIn 0.3s ease-in-out;

    &--response {
        margin-left: 0;
        margin-right: auto;
    }
}

.message {
    padding: 10px;
    margin: 0;
    background: linear-gradient(90deg, rgb(47, 38, 167) 0%, rgb(68, 93, 192) 100%);
    color: white;
    border-radius: 10px;
    font-size: 14px;
    overflow-wrap: break-word;

    &--response {
        background: lightgray;
        color: black;
    }
}

.time {
    font-size: 12px;
    padding: 3px;
    align-self: flex-end;

    &--response {
        align-self: flex-start;
    }
}
